service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }
    match /rooms/{roomId} {
      allow read, write: if isAuthenticated() && resource.data.privacy == 0;
      allow write: if isAuthenticated() && resource.data.privacy == 1;
      match /videos/{videoId} {
        allow read, write: if isAuthenticated();
      }
    }
    match /users/{userId} {
      allow read, write: if isAuthenticated();
    }
  }
}